@media screen and (max-width: 767px) {

    .heading{
    color: #000000;
    font-size: 1.2em;
    }

    .Header{
        border-bottom: 1px solid #eaecef;
        padding-bottom: 10px;
    }

    .middle{
        padding: 0px 20px 10px 0px;
        color: #000000;
        border-bottom: 1px solid #eaecef;
    }

    .Date{
        line-height: 35px;
    }

    .Class{
        font-weight: bold;
        font-size: 1.2em;
    }

    .LectureNum{
        line-height: 40px;
    }
}