
@font-face {
    font-family: 'architects_daughterregular';
    src: url('/assets/fonts/architectsdaughter-webfont.woff2') format('woff2'),
         url('/assets/fonts/architectsdaughter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.architects_daughterregular {
    font-family: 'architects_daughterregular';
}

.help-container main {
    background-color: #fff;
}

.help-container {
    position: absolute;
    top:0;
    width: 100%;
    z-index: 1;
}

.help-container .popUpPatch {
    z-index: 2;
    opacity: .75;
}

.arrow_sprite {
    background: url('/assets/images/sprite-image.png') no-repeat; 
    overflow: hidden;
    display: block;
}

.help-position {
    position: absolute;
    z-index: 3;
    color: #fff;
    line-height: 20px;
    font-family: 'architects_daughterregular';
}

.main-menu-arrow {
    background-position: 0 -291px;
    width: 36px;
    height: 47px;
    overflow: hidden;
    display: block;
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
}

.menu-icon-position {
    top: 5px;
    left: 54px;
    width: 100px;
    display: block;
}

.user-arrow {
    background-position: -153px -291px;
    width: 39px;
    height: 47px;
    position: relative;
    left: 18px;
    -ms-transform: rotate(25deg); /* IE 9 */
    -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
    transform: rotate(25deg);
}

.user-icon-position {
    top: 12px;
    right: 0;
    width: 100px;
}

.user-content {
    position: relative;
    top:-10px;
}

.card-arrow {
    background-position: -389px -278px;
    width: 39px;
    height: 47px;
    position: relative;
    left: 12px;
}

.card-position {
    top: 12px;
    left: 30px;
}

.card-content {
    position: relative;
    top:-43px;
    left: 66px;
    min-width: 200px;
    display: block;
}

.card-content .well-title, .white-color {
    color: #fff;
}

.card-content .well-title, .help-container .help-card-caption {
    text-align: left;
}

.meal-plan-arrow {
    background-position: -269px -278px;
    width: 31px;
    height: 43px;
    position: relative;
    left: 86px;
}

.meal-plan-position {
    top: 0px;
    right: 0px;
}

.meal-plan-content {
    position: relative;
    top:-6px;
    left: -66px;

}

.close-button {
    z-index: 3;
    position: absolute;
    color: #fff;
    right: 15px;
}

.close-button:hover,
.close-button:active,
.close-button:focus {
    color: #fff;
}

.help-container #mealPlan {
    position: relative;
}

.help-icon {
    position: relative;
    top: -22px;
    font-size: 1.2em;   /* font size 18 in pixel */
    color: #0054a6;
}

.help-icon:hover,
.help-icon:focus,
.help-icon:active {
    color: #0054a6;
}

.close-help-icon {
    background-position: 0 -394px;
    display: inline-block;
    width: 24px;
    height: 20px;
}

.close-container {
    position: relative;
}

@media screen and (min-width:991px) and (max-width:1024px) {
    .card-position {
        top: 84px;
        left: 32px;
    }
    
    .meal-plan-position {
        top: 10px;
    }
}

@media screen and (min-width: 1025px) {

    .hamburgerMenu {
        display: inline-block;
        position: absolute;
    }

    .menu-icon-position {
        top: 39px;
    }

    .menu-content {
        position: relative;
        top: -8px;
    }

    .main-menu-arrow {
        -ms-transform: rotate(-34deg); /* IE 9 */
        -webkit-transform: rotate(-34deg); /* Chrome, Safari, Opera */
        transform: rotate(-34deg);
    }

    .card-position {
        top: 90px;
        left: 26px;
    }

    .card-content .well-title {
        font-size: 1.7333em;
    }
}

@media screen and (max-width: 767px) {

    
    .meal-plan-arrow {
        left: 10px;
        top: 12px;
    }   
    
    .close-container {
        top: 34px;
    }

    .show .help-position {
        display: block;
    }

    .hide .help-position {
        display: block;
    }

    .imageHide ~ .meal-plan-position {
        display: none;
    }

    .show .meal-plan-arrow {
        left: 88px;
    }

    .close-container {
        top: 1px;
    }
}

@media screen and (min-width: 560px) and (max-width:767px) {
    .meal-plan-arrow {
        left: 34px;
        top: 14px;
    }

    .card-position {
        top: 25px;
        left: 54px;
    }
}

@media screen and (max-width: 480px) {
    .card-content .well-title {
        font-size: 1.3333em;    
    }
    .card-content {
            max-width: 220px;
    }
    
    

}
