// color plates
$color-white: #fff; //white color
$color-main: #0054a6; //blue color
$color-light: #0054a6; // light blue color
$color-gray: #878787;  // gray color
$color-lightgray: #e3e3e5; // light gray color
$color-green: #73b865; // green color
$color-lightgreen: #f1f8ef; // light green color
$color-mdgreen: #b9dbb2; // medium green color
$color-text: #333;
$background: #0054a6;
$transparent: transparent;

// Pixel sizes
$size-zero: 0;
$size-five: 5px;
$size-ten: 10px;
$size-fourteen: 14px;
$size-fifteen: 15px;
$size-sixteen: 16px;
$size-eighteen: 18px;
$size-twenty: 20px;

// font family styles 
$font-serif:   'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;