.customPopUp{
    width: 250px;
    background: #fff;
    border-radius: 10px;
    padding: 15px 0px;
}
.popUpText{
    margin-left: 15px;
    padding: 10px 0px;
}
.customPopUpHeader{
    margin-left: 15px;
    margin-bottom: 30px;
}
.tileInfo{
    margin-left: 15px;
}
.customPopUp .logOut{
    margin-top: 55px;
    position: relative; 
}
.customPopUpItem{
    position: relative;
}
.glyphicon-user{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #fff;
}
.popUp{
    position: absolute;
     top:20px;
    right: 20px;
     z-index: 100;
}
.popUpContainer{
    position: absolute;
    top:50px;
    right: 2px;
    z-index: 100;
}
.popUpPatch{
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
.customPopUp hr{
    margin:0;
}