.userHeading {
    font-size: 21px;
    color: #0054a6;
}

.dataHeading{
   font-size: 15px;
   color: #313131;
   text-transform: uppercase; 
   margin: 0 0 8px;
   padding-bottom: 6px;
   border-bottom: 1px solid #c8c7cc;
}

.userLeftmenu{
    margin-top:20px;
}

.userLeftmenu .list-group-item{
    border:0;
    border-top:1px solid #efefef;
    color: #0079b3;
}

.userLeftmenu .list-group-item:last-child{
    border-bottom:1px solid #efefef;
}

.userLeftmenu .list-group-item:hover {
    background-color: transparent;
    color:#313131;
}

.userLeftmenu .list-group-item.active {
    background-color: transparent;
    border-color: #efefef;
    color: #313131
}

.labelField {
    font-size:20px;   
}
.dataField {
    font-size: 21px;
}

@media screen and (min-width: 1030px) {
   
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

}
/* Profile Page css mobile view */
@media screen and (max-width: 767px) {
    .userData {
        width: 100%;
    }
    .dataField {
        color: #0079b3;
        font-size: 16px;
    } 
    .labelField {
    font-size:16px;   
    }
    .dataHeading{
        font-size: 14px
    }

}

@media screen and (max-width: 320px) {
    .userData {
        width: 100%;
    }
    .dataField {
        font-size: 14px;
    } 
    .labelField {
    font-size:14px;   
    }
    .dataHeading{
        font-size: 13px
    }

}
/*
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
@media (max-width: 767px) and (min-resolution: 192dpi) { */
    /* Retina specific CSS code */
/*  .dataHeading{
        font-size: 27px
    }
    .dataField {
        font-size: 36px;
        color: #0079b3
    } 
    .labelField {
        font-size:36px;
    }  
}   */