/*Created Date: - 24th -01 -2017
*Usage of file: - this file is used to add styles to class details page.*
*/

.classDetailHeading{
    font-size: 26px;
    line-height: 32px;
    color: #313131;
    font-family: 'open_sanslight';
    margin-bottom: 10px;
}

.classesDeatils .headerLabel {
    padding-bottom:20px;
    border-bottom: 4px solid #d7d7d7;
}
p{
    margin-bottom:0px;
}
.classDetialOn
{
    color: #9a9a9a;
    font-family: 'open_sansregular';
    font-size: 16px;
    padding-left: 10px;
    line-height: 30px;
     
}
clsDetailContent{
    font-size: 17px;
    color: #313131;
}
.detailSubhead{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 38px;
}
#cls a {
    text-decoration: none;
}
#cls a:hover {
    text-decoration:none;
}
.classInfo p{
    font-size: 17px;
}
@media (max-width:767px)
{
    .classDetailHeading{
        width: 100%;
        float:none !important;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 4px;
    }
    .classDetialOn {
        font-size: 20px;
        padding-left: 0;
        width: 100%;
        line-height: 26px;
        float: none !important;  
        margin-bottom:8px;
        
    }  
    .classInfo .m-grayBorder {
        padding-bottom: 4px;
        margin-bottom:10px;
    }  
}
