#studentDetails .list-group
{
    margin-top:20px;
}

#studentDetails .list-group-item:first-child, #studentDetails .list-group-item:last-child
{   
    border-radius: 0;
    -moz-border-radius:0;
    -webkit-border-radius:0
}
#studentDetails  a.list-group-item, #studentDetails  button.list-group-item, #studentDetails  .list-group-item label
{
      color:#0054a6;
      font-weight: normal;
}