/*Created Date: - 18th -01 -2017
*Usage of file: - this file is used to add styles to class list.*
*/

.dayHeading {
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #7d7d7d;
    font-size: 0.8em;   /* font size 12 in pixel */
    border-top:1px solid #c8c7cc;    
}

.classesHeading{
    font-size: 1.7333333333333334em;    /* font size 26 in pixel */
    line-height: 32px;
    color: #313131;
    font-family: 'open_sanslight';
}

.classOn, .classPlace, .classBy, .classTime, .classDate {
    font-size: 1em; /* font size 15 in pixel */
    font-family: 'open_sansregular';
    line-height: 22px;
}

.classOn, .classDate
{
     color: #9a9a9a;
     
}

.classPlace, .classBy, .classTime {
    color: #313131;
}

.classTime {
    font-family: 'open_sanssemibold';
}

.mobileClassesList, .desktopClassesList {
        border-left:8px solid #d7d7d7;
        overflow: hidden;
        border-top:1px solid #c8c7cc;
        padding-top:10px;
        padding-bottom:10px;
}

.classDate label{
    font-weight: normal;
}

.classOn {
        padding-left: 10px;
}

.controller-buttons .btn-group a {
    border-color: #019cdb;
    color: #019cdb;
}

.controller-buttons .btn-group a.active, 
.controller-buttons .btn-group a:hover, 
.controller-buttons .btn-group a:focus {
    background-color: #019cdb;
    color: #fff;
    box-shadow: none;
    border-color:#019cdb;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-right:0;
}

.btn-group>.btn:last-child:not(:first-child), 
.btn-group>.dropdown-toggle:not(:first-child)
{
    border-left: 0;
}

/* Media for small devices */
@media screen and (min-width:992px) {
    .classOn {
        padding-left: 10px;
    }
    .classDate {
        line-height: 16px;
    }
    .dayHeading {
        padding-left:25px;
    }
    .classPlace, .classBy{
        margin-top:10px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .classOn {
        width: 100%;
        padding-left: 0;  
    }
    .classesHeading{
        font-size: 1.6em;    /* font size 24 in pixel */
    }
    .dayHeading
    {
        padding-left:23px;
    }
}

@media screen and  (max-width:767px) {

    .dayHeading
    {
        margin-left:-15px;
        margin-right:-15px;
        padding-left:23px;
    }
    .classesHeading{
        font-size: 1.4666666666666666em; /* font size 22 in pixel */
        line-height: 24px;

    }
    .classesHeading, .classDate {
        padding-top:5px;
        padding-bottom:5px;
    }
    .mobileClassesList, .desktopClassesList
    {
        margin-left:0;
        margin-right:0;
        padding-top:14px;
        padding-bottom:14px;
    }
    .classOn {
        font-size: 0.9333333333333333em; /* font size 14 in pixel */
        padding-left: 0;
        
    }
    .classOn, .classPlace, .classBy, .classTime, .classDate {
        line-height: 20px;
        font-size: 0.9333333333333333em; /* font size 14 in pixel */
    }
    .classesWeek {
        margin-left:-15px;
        margin-right:-15px;
    }
    .classDate label{
        font-size: 0.9333333333333333em; /* font size 14 in pixel */
    }
    .controller-buttons .btn-group a {
        font-size: 1.2em;   /* font size 18 in pixel */
    }
    
}
