/*Created Date: - 12th -01 -2017
*Usage of file: - Application level styling file*
*/

html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: 'open_sansregular', sans-serif;
   font-size: 0.9333333333333333em; /* font size 14 in pixel */
   color: #313131;
}
/* Bebas, Open Sans font faces */
@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas.woff2') format('woff2'),
         url('../fonts/bebas.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans.light.woff2') format('woff2'),
         url('../fonts/open-sans.light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans.regular.woff2') format('woff2'),
         url('../fonts/open-sans.regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/open-sans.semibold.woff2') format('woff2'),
         url('../fonts/open-sans.semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* End Font face*/

/* Bebas, Open Sans font family usage */
.bebasregular {
    font-family:'bebasregular', sans-serif;
}

.openSansLight {
     font-family: 'open_sanslight';
}

.openSansRegular{
    font-family: 'open_sansregular';
}

.openSansBold{
    font-family: 'open_sanssemibold';
}
/* End font family */

/* Header */
header {
    background-color:#0054a6;
	min-height: 40px;
	color: #fff;
	line-height: 36px;
	overflow: visible;
}
header a {
    color: #fff;

}
header a:hover {
    text-decoration: underline;
    color: #fff;
}
header a:active {
    text-decoration: none;
    color: #fff;
}
header a:focus {
    text-decoration: none;
    color: #fff;
}
/* End Header */
/* start menu */
.menu-xs {
    position: absolute;
    z-index: 9;
}
/* End menu */
.wrapper
{
	/* Layout wrapper */
    min-height:100%; 
    position:relative;
}

img { 
	/* image Responsiveness */
    max-width: 100%;
    height: auto;
}

/* Basic Anchor links for complete app */
a {
   color:#0054a6;
}

a:hover {
    color:#0054a6;
    cursor: pointer;
}
/* End of Anchor links */

/* heading common margin and padding */
h1, h2, h3, h4, h5 {
    margin: 0 0 14px 0;
    padding: 0;
}
/* For fixed footer */
.view-container {
   padding-bottom:160px;
}

#content {
    margin-top:20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    height: 142px;
    background-color: #f5f5f5;
    font-size: 0.8em;   /* font size 12 in pixel */
}

/* word break */
.wordBreak {
	word-break: break-all;
	-ms-word-break: break-all;
}

/* Left Menu */
.userLeftmenu{
    margin-top:20px;
}

.userLeftmenu .list-group-item{
    border:0;
    border-top:1px solid #efefef;
    color: #0079b3;
}

.userLeftmenu .list-group-item:last-child{
    border-bottom:1px solid #efefef;
}

.userLeftmenu .list-group-item:hover {
    background-color: transparent;
    color:#313131;
}

.userLeftmenu .list-group-item.active {
    background-color: transparent;
    border-color: #efefef;
    color: #313131;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
/* End of Left Menu */

/* Header Label */
.headerLabel {
    font-size: 1.4em;   /* font size 21 in pixel */
    color: #0054a6;
}

.headerLinks{
	text-align:right;
}

.graybtBorder{
	border-bottom:1px solid #c8c7cc;
	overflow: hidden;
}

.documentIcon {
	background:url(../images/document-icon.png) no-repeat;
	width: 22px;
	height: 28px;
	float:left;
	margin-right: 10px;
}

.inline-display {
	display: inline;
}

.announced-only{
    left: -1200px;
    position: absolute;
    top: -1200px;
    z-index: 3;
}

/* radio and checkbox css */
label {
    font-weight: normal;
}

label:after {
    content: ": ";
}

label.noclons:after {
content:"";
}

*, *::before, *::after {
    animation-play-state: paused !important;
    -webkit-animation-play-state: paused !important;
}

.control-group {
    text-align: left;
}

.control {
    cursor: pointer;
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
}

input {
    overflow: visible;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.control input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.control__indicator {
    background: #fff none repeat scroll 0 0; 
    border: #0054a6 solid 1px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 20px;
}

.control__indicator:after {
    content: "";
    display: none;
    position: absolute;
}

.control input:checked ~ .control__indicator {
    background: #0054a6 none repeat scroll 0 0; 
    top: 5px;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control input:disabled ~ .control__indicator { 
    background: #e6e6e6 none repeat scroll 0 0;
    border: none;
    opacity: 0.6;
    pointer-events: none;
    top: 5px;
}

.control input:disabled:checked ~ .control__indicator { 
    background: #0c0c0c none repeat scroll 0 0;
}

/* radio buttons */
.control-radio .control__indicator {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius:50%;
}

.control-radio .control__indicator:after {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius:50%;
    height: 6px;
    left: 6px;
    top: 6px;
    width: 6px;
}

.control-radio input:disabled ~ .control__indicator:after {
    background: #d2d2d2 none repeat scroll 0 0;
}

.control-radio input[disabled]+.control__indicator:after {
    left: 7px;
    top: 7px;
}

/* checkbox */
.control-checkbox .control__indicator:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff;
    border-image: none;
    border-style: solid;
    border-width: 0 2px 2px 0;
    height: 10px;
    left: 7px;
    top: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 5px;
}

.control-checkbox input[disabled]+.control__indicator:after {
    left: 8px;
    top: 4px;
}

.angle-right a {
    color:#73b865;
}

.angle-right a:hover, .angle-right a:focus{
    text-decoration: none;
    color:#73b865;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.main-navigation li a:hover, 
.main-navigation li a:focus {
    color:#313131;
    text-decoration: none;
}

/* Media for small devices */


@media screen and (min-width: 768px) {

    .main-navigation {
            list-style: none;
            padding: 0;
            margin: 0;
    }

    .main-navigation li {
        display: inline;
        padding-left:15px;
        padding-right:15px;
    }
   
   #navigation {
        display: block;
        border-bottom: 1px solid #d5d5d5;
    }
    
    .main-navigation li a {
        line-height: 3em;
    }
    
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1021px;
    }
    
}

@media screen and (max-width: 1024px) {

    #navigation
     {
        background-color: #fff;
        position: fixed;
        z-index: 100;
        top: 46px;
        width: 100%;
        height: 100%;
     }

     .openNav {
        transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        left: 0; 
        overflow: hidden;
    }
    
    .openNav + #content {
        display: none;
    }

    .closeNav {
        transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        left: -100%;
    }

    .main-navigation {
        margin: 0;
        padding: 0;
    }

    .main-navigation li {
        padding: 0;
    }

    .main-navigation li a {
        padding:10px 15px;
        display: block;
    }

    .main-navigation li {
        border-bottom: 1px solid #ccc;
        display: block;
    }

    .main-navigation .glyphicon.glyphicon-chevron-right {
        padding-top: 12px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1010px) {
   
    .main-navigation li a {
        line-height: 2.6em;
    }
}

@media screen and (max-width: 992px) {

    .container {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {

    .logo {
		text-align:center;
	}

	.headerLinks {
		text-align: center;
	}

	.m-grayBorder 
 	{
		border-bottom:1px solid #c8c7cc;
	}

    .control__indicator, 
    .control input:checked ~  .control__indicator, 
    .control input:disabled ~ .control__indicator {
        top: 3px;
	}

}

@media screen and (max-width: 767px) {

    .main-navigation .glyphicon.glyphicon-chevron-right {
        padding-top: 2px;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
    /* Retina specific CSS code */
    
}
