.eventheaderLabel {
    padding-bottom: 20px;
}

.eventDetailTitle {
    font-size: 1.7333333333333334em;    /* font size 26 in pixel */
    line-height: 32px;
    color: #313131;
    font-family: 'open_sanslight', sans-serif;
    margin-bottom: 4px;
}

.eventDetailSubject {
    font-size: 1.133333333333333em;
    color: #313131;
    font-family: 'open_sansregular', 'sans-serif';
    margin-bottom: 8px;
}

.eventTiming {
    font-family: 'open_sansregular', 'sans-serif';
    font-size: 1.1333333333333333em;
    color: #313131;
    line-height: 1.42857143;

}

.eventDetail {
    font-size: 1.0666666666666667em;    /* font size 16 in pixel */
    color: #313131;
    text-transform: uppercase;
    font-family: 'open_sansregular', sans-serif;
    line-height: 38px;
}

.eventNotes {
    color: #313131;
    font-size: 1.2em;   /* font size 18 in pixel */
    font-family: 'open_sanslight', sans-serif;
}

.eventDetailsTitle {
    border-bottom:4px solid #d7d7d7;
}

.nextEventBtn {
    background-color:white;
    border:1px solid #0054a6;
    float: right;
    height: 30px;
    color: #0054a6;
    font-family: 'open_sansregular', sans-serif;
    font-size: 1em; /* font size 15 in pixel */
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.btn-primary.nextEventBtn:hover, 
.btn-primary.nextEventBtn:active,  
.btn-primary.nextEventBtn:focus  {
    background-color: #fff;
    color: #0054a6;
    box-shadow: none;
    outline: none;
} 

.nextEventBtnTxt {
    line-height: 21px;
    text-transform: capitalize;
    margin-left: 20px;
}

.btn-primary.nextEventBtn:hover, .btn-primary.nextEventBtn:active,  .btn-primary.nextEventBtn:focus  {
    background-color: #fff;
    color: #0054a6;
    box-shadow: none;
    outline: none;
}

.nextevent-logo {
    background-image: url(../../assets/images/nextevent-button.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 23px;
    float: left;
    overflow: hidden;
    margin-top: -1px;
    margin-bottom: 1px;
    display: inline-block;
}
.contactInfo {
    line-height: 28px;
}

.calendarEventNotes {
    text-align: justify;
}

.calendarDate {
    display: block;
}